$body-bg: linear-gradient(180deg, #000814 0%, #00122e 100%);
$main-color: #07a989;
$txt-color: #fff;
$input-bg: rgba(7, 169, 137, 0.25);

$black: #000;
$white: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius: 20px;
$border-radius-img: 8px;
$border-radius-btn: 16px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;
